.wrapper.header-wrapper
  .container.header-container
    .logo
      Bounty Flow

    - if current_user
      .new-bounty-button#new-bounty-button
        Issue a new bounty

    .user-box
      - if current_user
        .name
          =current_user.name
        .avatar
          =image_tag current_user.avatar
      -else
        =link_to "Login with Facebook", "/auth/facebook", { :class => 'login-button' }
      
      