.wrapper.header-wrapper
  .container.header-container
    .logo
      Bountython

    .new-bounty-button#new-bounty-button
      Issue a new bounty

    .user-box
      - if current_user
        .name
          =current_user.name
        .avatar
          =image_tag current_user.avatar
        =link_to 'Logout', destroy_user_session_path, { :method => :delete, :class => 'logout-button' }
      -else
        =link_to "Login with Facebook", "/auth/facebook", { :class => 'login-button' }
      
      