.wrapper.header-wrapper
  .container.header-container
    .logo
      Local Bounties

    .user-box
      - if current_user
        .name
          =current_user.name
        .avatar
          =image_tag ''
        =link_to 'Logout', destroy_user_session_path, :method => :delete 
      -else
        =link_to "Login with Facebook", "/auth/facebook", { :class => 'login-button' }
      
      