.wrapper.header-wrapper
  .container.header-container
    .logo
      Local Bounties

    .user-box
      - if current_user
        signed in: 
        =current_user.email
        =link_to 'Logout', destroy_user_session_path, :method => :delete 
      -else
        =link_to 'Login', new_user_session_path
      .name
        Connor W.
      .avatar
      