@import '_mixins.less';
@import '_variables.less';

.bounty-side-nav {
  width: @side_nav_width;
  min-height: 200px;
  float: left;
  background: #eee;
}

.bounty-content-box {
  width: @content_width;
  min-height: 200px;
  float: left;
  background: #ddd;
}

.bounty-mini-nav {
  width: @content_width;
  height: 60px;
  background: #ccc;
  float: left;
}

.bounty-sub-content {
  float: left;
  width: @content_width;
  height: 60px;
  background: #ccc;
}

.bounty-filter-box {
  height: 20px;
  width: @content_width;
  background: #333;
  float: left;
}

.bounty-list {
  width: @content_width;
  float: left;
  background: #fefefe;
}