@import '_mixins.less';
@import '_variables.less';

body {
  background: #fafafa;
  background: #393939;
  .primary_font();
  color: #333;
}

.hidden {
  display: none;
}

.wrapper {
  width: 100%;
  min-width: @app_width;
  float: left;
}

.container {
  width: @app_width;
  float: left;
  position: relative;
}

.button {
  cursor: pointer;
}

//  End base styles

.logo {
  font-size: 20px;
  line-height: 30px;
  .primary_font_bold();
  padding: 8px 0;
  position: absolute;
  left: 5px;
  top: 0px;
}

.header-wrapper {
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  .outer-shadow(0, 1px, 0, rgba(0,0,0,.05));
  z-index: 99;
  position: relative;
}

.body-container {
  min-height: 200px;
}

.user-box {
  height: 50px;
  position: fixed;
  top: 0;
  right: 10px;

  .name {
    float: left;
    padding: 14px 20px;
    font-size: 14px;
    line-height: 18px;
  }
  .avatar {
    float: left;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    display: block;
    .rounded(25px);
    background: #fafafa;
    overflow: hidden;
  }
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 200px;
}

.login-button {
  font-size: 13px;
  line-height: 18px;
  background: #3B5998;
  .rounded(3px);
  width: 180px;
  padding-top: 10px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: center;
  .primary_font_bold();
  color: #fff;
  text-decoration: none;
}