// Widths
@app_width: 700px;
@side_nav_width: 250px;
@content_width: @app_width - @side_nav_width;

@bounty_list_item_height: 80px;

@primary_panel_width: 450px;
@secondary_panel_width: 450px;

// Typography
// -------------------------
@font-face {
    font-family: 'Alpha-Bold';
    src: font-url('alphabold.eot');
    src: font-url('alphabold.eot?#iefix') format('embedded-opentype'),
         font-url('alphabold.woff') format('woff'),
         font-url('alphabold.ttf') format('truetype'),
         font-url('alphabold.svg#alphabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alpha-Light';
    src: font-url('alphalight.eot');
    src: font-url('alphalight.eot?#iefix') format('embedded-opentype'),
         font-url('alphalight.woff') format('woff'),
         font-url('alphalight.ttf') format('truetype'),
         font-url('alphalight.svg#alphabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@helveticaFontFamily:       "Helvetica Neue", Helvetica, Arial, sans-serif;
@helveticaLightFontFamily:  "HelveticaNeue-Light", sans-serif;

@primaryFontFamily:         "Alpha-Light", sans-serif;
@primaryFontFamilyBold:     "Alpha-Bold", sans-serif;

@secondaryFontFamily:       @helveticaFontFamily;
@tertiaryFontFamily:        @helveticaLightFontFamily;

.primary_font() {
  font-family: @primaryFontFamily;
}

.primary_font_bold() {
  font-family: @primaryFontFamilyBold;
}

.secondary_font() {
  font-family: @secondaryFontFamily;
}

.tertiary_font() {
  font-family: @tertiaryFontFamily;
}